:root {
  --colorStaticWhite: #ffffff;

  --colorPrimary: #006eff;
  --colorSuccess: #52c41a;
  --colorWarning: #faad14;
  --colorError: #ff4d4f;
  --colorInfo: #1677ff;
  --colorLink: #1677ff;
  --colorTextBase: #000;
  --colorBgBase: #fff;
  --controlHeight: 32;
  --colorText: rgba(0, 0, 0, 0.88);
  --colorTextSecondary: rgba(0, 0, 0, 0.65);
  --colorTextTertiary: rgba(0, 0, 0, 0.45);
  --colorTextQuaternary: rgba(0, 0, 0, 0.25);
  --colorFill: rgba(0, 0, 0, 0.15);
  --colorFillSecondary: rgba(0, 0, 0, 0.06);
  --colorFillTertiary: rgba(0, 0, 0, 0.04);
  --colorFillQuaternary: rgba(0, 0, 0, 0.02);
  --colorBgLayout: #f5f5f5;
  --colorBgContainer: #ffffff;
  --colorBgElevated: #ffffff;
  --colorBgSpotlight: rgba(0, 0, 0, 0.85);
  --colorBgBlur: transparent;
  --colorBorder: #d9d9d9;
  --colorBorderSecondary: #f0f0f0;
  --colorPrimaryBg: #e6f5ff;
  --colorPrimaryBgHover: #a3d7ff;
  --colorPrimaryBorder: #7ac1ff;
  --colorPrimaryBorderHover: #52a8ff;
  --colorPrimaryHover: #298dff;
  --colorPrimaryActive: #0057d9;
  --colorPrimaryTextHover: #298dff;
  --colorPrimaryText: #006eff;
  --colorPrimaryTextActive: #0057d9;
  --colorSuccessBg: #f6ffed;
  --colorSuccessBgHover: #d9f7be;
  --colorSuccessBorder: #b7eb8f;
  --colorSuccessBorderHover: #95de64;
  --colorSuccessHover: #95de64;
  --colorSuccessActive: #389e0d;
  --colorSuccessTextHover: #73d13d;
  --colorSuccessText: #52c41a;
  --colorSuccessTextActive: #389e0d;
  --colorErrorBg: #fff2f0;
  --colorErrorBgHover: #fff1f0;
  --colorErrorBorder: #ffccc7;
  --colorErrorBorderHover: #ffa39e;
  --colorErrorHover: #ff7875;
  --colorErrorActive: #d9363e;
  --colorErrorTextHover: #ff7875;
  --colorErrorText: #ff4d4f;
  --colorErrorTextActive: #d9363e;
  --colorWarningBg: #fffbe6;
  --colorWarningBgHover: #fff1b8;
  --colorWarningBorder: #ffe58f;
  --colorWarningBorderHover: #ffd666;
  --colorWarningHover: #ffd666;
  --colorWarningActive: #d48806;
  --colorWarningTextHover: #ffc53d;
  --colorWarningText: #faad14;
  --colorWarningTextActive: #d48806;
  --colorInfoBg: #e6f4ff;
  --colorInfoBgHover: #bae0ff;
  --colorInfoBorder: #91caff;
  --colorInfoBorderHover: #69b1ff;
  --colorInfoHover: #69b1ff;
  --colorInfoActive: #0958d9;
  --colorInfoTextHover: #4096ff;
  --colorInfoText: #1677ff;
  --colorInfoTextActive: #0958d9;
  --colorLinkHover: #69b1ff;
  --colorLinkActive: #0958d9;
  --colorBgMask: rgba(0, 0, 0, 0.45);
  --colorWhite: #fff;
  --controlHeightSM: 24;
  --controlHeightXS: 16;
  --controlHeightLG: 40;
  --colorFillContent: rgba(0, 0, 0, 0.06);
  --colorFillContentHover: rgba(0, 0, 0, 0.15);
  --colorFillAlter: rgba(0, 0, 0, 0.02);
  --colorBgContainerDisabled: rgba(0, 0, 0, 0.04);
  --colorBorderBg: #ffffff;
  --colorSplit: rgba(5, 5, 5, 0.06);
  --colorTextPlaceholder: rgba(0, 0, 0, 0.25);
  --colorTextDisabled: rgba(0, 0, 0, 0.25);
  --colorTextHeading: rgba(0, 0, 0, 0.88);
  --colorTextLabel: rgba(0, 0, 0, 0.65);
  --colorTextDescription: rgba(0, 0, 0, 0.45);
  --colorTextLightSolid: #fff;
  --colorHighlight: #ff4d4f;
  --colorBgTextHover: rgba(0, 0, 0, 0.06);
  --colorBgTextActive: rgba(0, 0, 0, 0.15);
  --colorIcon: rgba(0, 0, 0, 0.45);
  --colorIconHover: rgba(0, 0, 0, 0.88);
  --colorErrorOutline: rgba(255, 38, 5, 0.06);
  --colorWarningOutline: rgba(255, 215, 5, 0.1);
  --controlOutlineWidth: 2;
  --controlInteractiveSize: 16;
  --controlItemBgHover: rgba(0, 0, 0, 0.04);
  --controlItemBgActive: #e6f5ff;
  --controlItemBgActiveHover: #a3d7ff;
  --controlItemBgActiveDisabled: rgba(0, 0, 0, 0.15);
  --controlTmpOutline: rgba(0, 0, 0, 0.02);
  --controlOutline: rgba(5, 155, 255, 0.1);
  --controlPaddingHorizontal: 12;
  --controlPaddingHorizontalSM: 8;
}
